<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/test.css">
    <script src="/script.js"></script>
</head>
<body>
<div id="div1" class="cos">tekst</div>
<div id="div2" class="cos">tekst</div>

<div>
    <div onclick="funkcja();" id="do-zmiany">
        cos
    </div>
</div>

<div>
    <div>
        <p>
            <span class="x"></span>
        </p>
    </div>
</div>

<div>
    <div>
        <p>
            <span class="y"></span>
        </p>
    </div>
</div>

</body>
</html>